<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>With My RA - FR</title>


    <link rel="stylesheet" href="../public/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="../public/js/script.js"></script>
</head>
<body>
    <!-- Navigation Bar-->
    <nav class="navbar">
        <div class="inner-width">
            <a href="/" class="logo" src="../public/logo/ICON-APP-ERA.png"></a>
            <div class="sm">
                <a href="#" class="fab fa-android"></a>
                <a href="#" class="fab fa-apple"></a>
                <a href="https://www.facebook.comWith-my-RA-102180141433064"target="_blank" class="fab fa-facebook-f"></a>
                <a href="https://www.instagram.com/withmyra/"target="_blank"class="fab fa-instagram"></a>
                
            </div>
            <button class="menu-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-menu">
                <a href="#home">Home</a>
                <a href="#about">Notre Projet</a>
                <a href="#equipe">L'Équipe</a>
                <a href="#works">Galerie</a>
                <a href="#archive">Archive</a>
            </div>
        </div>       
    </nav>

    <!-- Home-->
    <section id="home">
        <!--<div class="full-screen">-->
            <!--<video src="/video.mp4" autoplay muted loop></video>-->
            <div class="inner-width">
                <div class="content">
                    <h1>Nous sommes</h1>
                    <!--<div class="sm">
                        <a href="https://www.facebook.com/With-my-RA-102180141433064" target="_blank" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/withmyra/" target="_blank" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>-->
                    <div class="button">
                        <a href="#" id="copybutton" class="copybutton"> Nous contacter par mail</a>
                        <a href="https://www.facebook.com/withmyra/"target="_blank">Nous contacter par facebook</a>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </section>

    <!-- Modal Section (popup)-->
    <div class="bg-modal">
        <div class="modal-content">
            <div class="close">
                +
            </div>
            <img src="../public/logo/ICON-APP-ERA.png" alt="">
            <p>Notre adresse mail, à été copiée dans votre presse-papier</p>
            
        </div>
    </div>

    <!-- Notre projet -->
    <section id="about">
        <div class="inner-width">
            <h1 class="section-title">Notre projet</h1>
            <div class="about-content">
                <img src="../public/logo/ICON-APP-ERA.png" alt="" class="about-pic">
                <div class="about-text">
                    <h2> Projet With My RA </h2>
                <h3>
                    <span>Informatique</span>
                    <span>Animation 3D</span>
                    <span>Direction artistique</span>
                    <span>Stratégie de communication 360</span>
                </h3>
                <p>
                    With my RA c’est une équipe d’étudiants de <a href="https://www.ynov-lyon.com/qui-sommes-nous/" target="_blank"><strong>Lyon Ynov Campus</strong> </a>  <strong> utilisant leurs compétences et leurs apprentissages</strong> en animation, développement, création design, UX design, graphisme, marketing pour <strong>créer une expérience en réalité augmentée. </strong> <br> Le projet s’inscrit au sein de l’Incubateur La toile,propose aux étudiants de <strong>s'exprimer via différents outils de communication sur des sujets engagés</strong> , entraînant une prise de conscience de la génération Z. <br><br>L’ambition de With my RA est de  <strong>repenser l’art à l’ère du digital</strong> , toujours en compagnie de la mascotte ERA.
                </p>
                </div>
            </div>
        </div>
    </section>

    <!-- L'equipe -->
    <section id="equipe" class="dark">
        <div class="inner-width">
            <h1 class="section-title">L'equipe</h1>
            <div class="equipe">
                <div class="membre">
                    <img src="../public/avatar/clement.png" alt="">
                    <h4>Clément</h4>
                    <p> <br><strong> Développeur informatique en B1</strong> <br><br>Fan de poulet, toujours l'ordi à porter de main et le petit calepin</p>
                    <div class="reso">
                        <a href="#" class="fab fa-linkedin"></a>
                       </div>
                </div>

                <div class="membre">
                    <img src="../public/avatar/mathis.png" alt="">
                    <h4>Mathis</h4>
                    <p> <br><strong> Développeur informatique en B1</strong><br><br>Fan de canard et adepte du travail nocturne.</p>
                    <div class="reso">
                        <a href="#" class="fab fa-linkedin"></a>
                       </div>
                </div>

                <div class="membre">
                    <img src="../public/avatar/stephane.png" alt="">
                    <h4>Stéphane</h4>
                    <p><br><strong>Anim 3D Jeux vidéos</strong><br><br>Je suis sportif (basket,boxe etc..)j'aime aussi beaucoup m'amuser et faire la fête</p>
                    <div class="reso">
                        <a href="#" class="fab fa-linkedin"></a>
                       </div>
                </div>

                <div class="membre">
                    <img src="../public/avatar/lilian.PNG" alt="">
                    <h4>Lilian</h4>
                    <p><br><strong>Anim 3D Jeux vidéos</strong><br><br>Je pensais être destiné à finir dans le monde de la science brut mais bien plus attiré par le divertissement je débarque finalement de l'univers de l'animation 3D,du Jeux Vidéo et du dessin ! J'ai 20 ans, j'aime les pates carbonara et les poivrons.</p>
                    <div class="reso">
                        <a href="#" class="fab fa-linkedin"></a>
                       </div>
                </div>

                <div class="membre">
                    <img src="../public/avatar/julien.PNG" alt="">
                    <h4>Julien</h4>
                    <p><br><strong>Anim 3D Jeux vidéos</strong><br><br>Je suis un gros nolife, et accessoirement le mec au fond de la classe qui observe et analyse tout en silence.</p>
                    <div class="reso">
                        <a href="#" class="fab fa-linkedin"></a>
                       </div>
                </div>
                
                <div class="membre">
                    <img src="../public/avatar/leane.PNG" alt="">
                    <h4>Léane</h4>
                    <p><br><strong>Cheffe de projet</strong> <br><br>Fan de brocolis, toujours le sourire aux lèvres et une BD sous le bras.</p>
                    <div class="reso">
                        <a href="https://www.linkedin.com/in/leane-chamouton-0a5a45163/" target="_blank" class="fab fa-linkedin"></a>
                       </div>
                </div>

                <div class="membre">
                    <img src="../public/avatar/melanie.PNG" alt="">
                    <h4>Mélanie</h4>
                    <p><br><strong>M1 Strat' de Com'</strong><br><br>Sur WMRA, je m'occupe des réseaux sociaux, tout ça tout ça. <br>Ma vie se résume en peu de mots : Rock, BD, Anime, Dessin et Future Streameuse <strong>🤘</strong> </p>
                    <div class="reso">
                        <a href="https://www.linkedin.com/in/melanieburtin-communication-resaux-sociaux-digital-league/"  target="_blank" class="fab fa-linkedin"></a>
                       </div>
                </div>

                <div class="membre">
                    <img src="../public/avatar/louise.PNG" alt="">
                    <h4>Louise</h4>
                    <p><br><strong>M1 Direction Artistique Digitale</strong> <br><br>Dans la team WMRA je suis la Directrice Artistique donc je m'occupe de tout le process créatif et expérience utilisateur de l'application. <br>Le poney est une grande passion, j'adore le digital art et aussi les loutres.</p>
                   <div class="reso">
                    <a href="https://www.linkedin.com/in/louise-knoery/" target="_blank" class="fab fa-linkedin"></a>
                   </div>
                    
                </div>


               
            </div>
        </div>
    </section>

    <!-- Galerie -->
    <section id="works">
        <div class="inner-width">
            <h1 class="section-title">Galerie</h1>
            <div class="works">
                <a href="../public/work/unicorn.png" class="work">
                    <img src="../public/work/unicorn.png" alt="">
                    <div class="info">
                        <h3>Titre oeuvre</h3>
                        <div class="cat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minima.</div>
                    </div>
                </a>
                <a href="../public/work/unicorn_back.png" class="work">
                    <img src="../public/work/unicorn_back.png" alt="">
                    <div class="info">
                        <h3>Titre oeuvre</h3>
                        <div class="cat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minima.</div>
                    </div>
                </a>
                <a href="../public/work/unicorn_happy.png" class="work">
                    <img src="../public/work/unicorn_happy.png" alt="">
                    <div class="info">
                        <h3>Titre oeuvre</h3>
                        <div class="cat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minima.</div>
                    </div>
                </a>
                <a href="../public/work/unicorn_money.png" class="work">
                    <img src="../public/work/unicorn_money.png" alt="">
                    <div class="info">
                        <h3>Titre oeuvre</h3>
                        <div class="cat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minima.</div>
                    </div>
                </a>    


                <a href="../public/work/unicorn.png" class="work">
                    <img src="../public/work/unicorn.png" alt="">
                    <div class="info">
                        <h3>Titre oeuvre</h3>
                        <div class="cat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minima.</div>
                    </div>
                </a>
                <a href="../public/work/unicorn_back.png" class="work">
                    <img src="../public/work/unicorn_back.png" alt="">
                    <div class="info">
                        <h3>Titre oeuvre</h3>
                        <div class="cat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minima.</div>
                    </div>
                </a>
                <a href="../public/work/unicorn_happy.png" class="work">
                    <img src="../public/work/unicorn_happy.png" alt="">
                    <div class="info">
                        <h3>Titre oeuvre</h3>
                        <div class="cat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minima.</div>
                    </div>
                </a>
                <a href="../public/work/unicorn_money.png" class="work">
                    <img src="../public/work/unicorn_money.png" alt="">
                    <div class="info">
                        <h3>Titre oeuvre</h3>
                        <div class="cat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, minima.</div>
                    </div>
                </a>   
                
            </div>
        </div>
    </section>

    <!-- archive -->
    <section id="archive" class="dark">
        <div class="inner-width">
            <h1 class="section-title">Archive</h1>
            <p class="archive text">En mai 2020 With my RA dévoilait son exposition en ligne <strong>“Ma vie étudiante”</strong> . <br> Une autre année, une autre équipe. Huits étudiants qui avaient envie de parler, de rendre compte de ce passage si significatif.Parce que les années d’études sont celles où l’on goute à la liberté, on s’émancipe et on peux prendre de nouveaux chemins mais c’est aussi celles on l’on découvre de nouvelles obligations, de nouvelles difficultés. <strong>“C’est intense” </strong> <br> Dans l’exposition, des oeuvres abordant la précarité étudiante, le rapport au temps, celui aux interactions sociales mais aussi des témoignages recueillis à Lyon 2.</p>

            <div class="imagearchive">
                <a href="../public/video/My_friends_my_strength_fichier_lourd.mp4" target="_blank" class="iarchive">
                    <img src="../public/support_video/bd.webp" alt="">
                </a>
                <a href="../public/support_video/burger.webp" target="_blank" class="iarchive">
                    <img src="../public/support_video/burger.webp" alt="">
                </a>
                <a href="../public/support_video/cocktail.webp" target="_blank" class="iarchive">
                    <img src="../public/support_video/cocktail.webp" alt="">
                </a>
                <a href="../public/video/Tupperwares.mp4" target="_blank" class="iarchive">
                    <img src="../public/support_video/empty.webp" alt="">
                </a>
                <a href="../public/support_video/smile.webp" target="_blank" class="iarchive">
                    <img src="../public/support_video/smile.webp" alt="">
                </a>
                <a href="../public/video/Our_student_routine_1_1_2_1_1.mp4" target="_blank" class="iarchive">
                    <img src="../public/support_video/student.webp" alt="">
                </a>
                <a href="../public/video/Submerged__1.mp4" target="_blank" class="iarchive">
                    <img src="../public/support_video/submerged.webp" alt="">
                </a>
                <a href="../public/video/Time Watch Final.mp4" target="_blank" class="iarchive">
                    <img src="../public/support_video/watch.webp" alt="">
                </a>
            </div>
        </div>
        
    </section>

    <!-- Footer -->
    <footer>
        <div class="inner-width">
            <div class="copyright">
                &copy; 2020-2021 | Created & Designed By <a href="#">Clément VEY</a>
            </div>
        </div>
    </footer>

    <!-- Go top btn-->
    <button class="goTop fas fa-arrow-up"></button>


   
    <button class="Reseau"><a href="#" class="fab fa-apple"></a></button>
    <button class="Reseau1"><a href="#" class="fab fa-android"></a></button>
    <button class="Reseau2"><a href="https://www.facebook.com/With-my-RA-102180141433064" target="_blank" class="fab fa-facebook-f"></a></button>
    <button class="Reseau3"><a href="https://www.instagram.com/withmyra/" target="_blank" class="fab fa-instagram"></a></button>
    

    
 
</body>
</html>