<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>


    <link rel="stylesheet" href="../public/style/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    
    <script src="../public/js/script.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


</head>
<body>
    <!-- Navigation Bar-->
    <nav class="navbar">
        <div class="inner-width">
            <a href="/" class="logo" src="../public/logo/ICON-APP-ERA.png"></a>
            <div class="sm">
                <a href="/" class="fab fa-android"></a>
                <a href="/" class="fab fa-apple"></a>
                <a href="https://www.facebook.comWith-my-RA-102180141433064"target="_blank" class="fab fa-facebook-f"></a>
                <a href="https://www.instagram.com/withmyra/"target="_blank"class="fab fa-instagram"></a>
                
            </div>
            <button class="menu-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-menu">
                <form action="/" method="post" class="form">
                    
                    <input type="submit" value="FR" class="submit" name="submit">
                    <input type="submit" value="EN" class="submit" name="submit">
                    <a href="#home">{{.Link1}}</a>
                    <a href="#about">{{.Link2}}</a>
                    <a href="#equipe">{{.Link3}}</a>
                    <a href="#works">{{.Link4}}</a>
                    <a href="#archive">{{.Link5}}</a>
                </form>

                
            </div>
        </div>       
    </nav>

    <!-- Home-->
    <section id="home">
        
            <div class="inner-width">
                <div class="content">
                    <h1>{{.Home}}</h1>
                    
                    <div class="button">
                        <a  id="copybutton" class="copybutton">{{.Email}}</a>
                        <a href="https://www.facebook.com/withmyra/"target="_blank">{{.Facebook}}</a>
                    </div>
                </div>
            </div>
        
    </section>

    <!-- Modal Section (popup)-->
    <div class="bg-modal">
        <div class="modal-content">
            <div class="close">
                +
            </div>
            <img src="../public/logo/ICON-APP-ERA.png" alt="">
            <p>{{.Popup}}</p>
            
        </div>
    </div>

    <!-- Notre projet -->
    <section id="about">
        <div class="inner-width">
            <h1 class="section-title">{{.Projet}}</h1>
            <div class="about-content">
                <img src="../public/logo/ICON-APP-ERA.png" alt="" class="about-pic">
                <div class="about-text">
                    <h2> {{.Prensation}} </h2>
                <h3>
                    <span>{{.Span1}}</span>
                    <span>{{.Span2}}</span>
                    <span>{{.Span3}}</span>
                    <span>{{.Span4}}</span>
                </h3>
                <p>
                    {{.About1}}<a href="https://www.ynov-lyon.com/qui-sommes-nous/" target="_blank"><strong>{{.About2}}</strong> </a>  <strong>{{.About3}}</strong>{{.About4}}<strong>{{.About5}}</strong> <br>{{.About6}}<strong>{{.About7}}</strong>{{.About8}}<br><br>{{.About9}}<strong>{{.About10}}</strong>{{.About11}}
                </p>
                </div>
            </div>
        </div>
    </section>

    <!-- L'equipe -->
    <section id="equipe" class="dark">
        <div class="inner-width">
            <h1 class="section-title">L'equipe</h1>
            <div class="equipe">
                <div class="membre">
                    <img src="../public/avatar/clem.png" alt="">
                    <h4>Clément</h4>
                    <p> <br><strong> {{.Classinfo}}</strong> <br><br>{{.Clem}}</p>
                    <div class="reso">
                        <a href="/" class="fab fa-linkedin"></a>
                       </div>
                </div>

                <div class="membre">
                    <img src="../public/avatar/mat.png" alt="">
                    <h4>Mathis</h4>
                    <p> <br><strong> {{.Classinfo}}</strong><br><br>{{.Mathis}}</p>
                    <div class="reso">
                        <a href="/" class="fab fa-linkedin"></a>
                       </div>
                </div>

                <div class="membre">
                    <img src="../public/avatar/steph.png" alt="">
                    <h4>Stéphane</h4>
                    <p><br><strong>{{.Classanim}}</strong><br><br>{{.Steph}}</p>
                    <div class="reso">
                        <a href="/" class="fab fa-linkedin"></a>
                       </div>
                </div>

                <div class="membre">
                    <img src="../public/avatar/lili.png" alt="">
                    <h4>Lilian</h4>
                    <p><br><strong>{{.Classanim}}</strong><br><br>{{.Lilian}}</p>
                    <div class="reso">
                        <a href="/" class="fab fa-linkedin"></a>
                       </div>
                </div>

                <div class="membre">
                    <img src="../public/avatar/ju.png" alt="">
                    <h4>Julien</h4>
                    <p><br><strong>{{.Classanim}}</strong><br><br>{{.Ju}}</p>
                    <div class="reso">
                        <a href="/" class="fab fa-linkedin"></a>
                       </div>
                </div>
                
                <div class="membre">
                    <img src="../public/avatar/lele.png" alt="">
                    <h4>Léane</h4>
                    <p><br><strong>{{.Classchefe}}</strong> <br><br>{{.Lele}}</p>
                    <div class="reso">
                        <a href="https://www.linkedin.com/in/leane-chamouton-0a5a45163/" target="_blank" class="fab fa-linkedin"></a>
                       </div>
                </div>

                <div class="membre">
                    <img src="../public/avatar/mel.png" alt="">
                    <h4>Mélanie</h4>
                    <p><br><strong>{{.Classestratcom}}</strong><br><br>{{.Mel1}}<br>{{.Mel2}}<strong>🤘</strong> </p>
                    <div class="reso">
                        <a href="https://www.linkedin.com/in/melanieburtin-communication-resaux-sociaux-digital-league/"  target="_blank" class="fab fa-linkedin"></a>
                       </div>
                </div>

                <div class="membre">
                    <img src="../public/avatar/lou.png" alt="">
                    <h4>Louise</h4>
                    <p><br><strong>{{.Classda}}</strong> <br><br>{{.Lou1}}<br>{{.Lou2}}</p>
                   <div class="reso">
                    <a href="https://www.linkedin.com/in/louise-knoery/" target="_blank" class="fab fa-linkedin"></a>
                   </div>
                    
                </div>


               
            </div>
        </div>
    </section>

    <!-- Galerie -->
    <section id="works">
        <div class="inner-width">
            <h1 class="section-title">{{.Bd}}</h1>
            <div class="works">
                <a href="../public/work/bouche.jpg" class="work">
                    <img src="../public/work/bouche.jpg" alt="">
                    <div class="info">
                        <h3>{{.Titre1}}</h3>
                        </div>
                </a>
                <a href="../public/work/mots.png" class="work">
                    <img src="../public/work/mots.png" alt="">
                    <div class="info">
                        <h3>{{.Titre2}}</h3>
                        </div>
                </a>
                <a href="../public/work/oreille.png" class="work">
                    <img src="../public/work/oreille.png" alt="">
                    <div class="info">
                        <h3>{{.Titre3}}</h3>
                        </div>
                </a>
                                
            </div>
        </div>
    </section>

    <!-- archive -->
    <section id="archive" class="dark">
        <div class="inner-width">
            <h1 class="section-title">{{.Archive}}</h1>
            <p class="archive text">{{.Resume1}}<strong>{{.Resume2}}</strong> <br>{{.Resume3}}<strong>{{.Resume4}}</strong> <br>{{.Resume5}}</p>

            <div class="imagearchive">
                <a href="../public/video/My_friends_my_strength_fichier_lourd.mp4" target="_blank" class="iarchive">
                    <img src="../public/support_video/bd.webp" alt="">
                </a>
                <a href="../public/support_video/burger.webp" target="_blank" class="iarchive">
                    <img src="../public/support_video/burger.webp" alt="">
                </a>
                <a href="../public/support_video/cocktail.webp" target="_blank" class="iarchive">
                    <img src="../public/support_video/cocktail.webp" alt="">
                </a>
                <a href="../public/video/Tupperwares.mp4" target="_blank" class="iarchive">
                    <img src="../public/support_video/empty.webp" alt="">
                </a>
                <a href="../public/support_video/smile.webp" target="_blank" class="iarchive">
                    <img src="../public/support_video/smile.webp" alt="">
                </a>
                <a href="../public/video/Our_student_routine_1_1_2_1_1.mp4" target="_blank" class="iarchive">
                    <img src="../public/support_video/student.webp" alt="">
                </a>
                <a href="../public/video/Submerged__1.mp4" target="_blank" class="iarchive">
                    <img src="../public/support_video/submerged.webp" alt="">
                </a>
                <a href="../public/video/Time Watch Final.mp4" target="_blank" class="iarchive">
                    <img src="../public/support_video/watch.webp" alt="">
                </a>
            </div>
        </div>
        
    </section>

    <!-- Footer -->
    <footer>
        <div class="inner-width">
            <div class="copyright">
                &copy; 2020-2021 | Created & Designed By <a href="/">Clément VEY </a>// <a href="mentions_legales" target="_blank" class="mentions_legales"> Mentions Légales</a>
            </div>
        </div>
    </footer>

    <!-- Go top btn-->
    <button class="goTop fas fa-arrow-up"></button>


   
    <button class="Reseau"><a href="/" class="fab fa-apple"></a></button>
    <button class="Reseau1"><a href="/" class="fab fa-android"></a></button>
    <button class="Reseau2"><a href="https://www.facebook.com/With-my-RA-102180141433064" target="_blank" class="fab fa-facebook-f"></a></button>
    <button class="Reseau3"><a href="https://www.instagram.com/withmyra/" target="_blank" class="fab fa-instagram"></a></button>
    

    
 
</body>
</html>