<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style/mentions_legales.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>With My RA - Mentions Légales</title>
</head>
<body>
    <section id="home">
            <div class="inner-width">
                <div class="content">
                    <a href="/" class="retour"> < Retour au site</a>
                    <br>
                    <h1>MENTIONS LÉGALES</h1>
                    <h3>Identité</h3>
                    <p>Le site https://with-my-ra.herokuapp.com (ci-après dénommé le « Site ») est édité et utilsé par le groupe de projet With-my-ra apartenent à l'école supérieur YNOV LYON, situé au 27 rue Raoul Servant, 69007 Lyon, France.<br><br>Représentant légal du site : Clément VEY.
                    </p>
                    <br><br>
                    <h3>Contact</h3>
                    <p><a href="/">Site web</a>  <br><br>
                    Notre équipe est joinable tout les jours. <br>
                    par e-mail à l’adresse <strong>withmyra2@gmail.com</strong> 
                    </p>
                    <br><br>
                    <h3>Hébergeur</h3>
                    <p>L’hébergement du Site est assuré par : <br><br> Heroku <br> Société mère : Salesforce.com <br>415 Mission Street<br>Suite 300 <br>San Francisco, CA<br>94105
                    </p>
                    <br><br>
                    <h3>Propriété intellectuelle</h3>
                    <p>Le contenu du Site, des photographies, mises en pages et infographies est protégé par les lois françaises et internationales relatives à la propriété intellectuelle.Toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.
                    </p>
                    <br><br>
                    <h3>Protection des données personnelles</h3>
                    <p>Nous n'utilisons aucun cookie, de ce fait nous ne recoltons aucune donnée personnelles et n'en stockons aucune.
                    </p>
                    <br><br>
                    <h3>Limitation de responsabilité</h3>
                    <p>Nous nous efforçons d'assurer, au mieux de nos possibilités, l'exactitude et l’actualité des informations diffusées sur le Site. Nous nous réservons le droit de corriger et de modifier le contenu du Site à tout moment et sans préavis.
                    </p>
                </div>
            </div>
    </section>
</body>
</html>