*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}

::selection{
    background-color:#F77F0060;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #13022D;
}

::-webkit-scrollbar-thumb{
    background-color: #f1f1f1;
}


.inner-width{
    margin: auto;

}


#home{
    min-height: 500px;
    background-color: #13022D;
}

#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 800px;
    background-color: #f1f1f1;

}

#home .content{
    width: 100%;
    color: #13022D;
    text-decoration: none;

}

#home .content h1{
    font-size: 45px;
    margin-bottom: 60px;
    margin-top: 60px;
}
.retour{
    color: #892046;
    text-decoration: none;
}
.content{
    padding: 20px;
}

